* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0f172a;
    color: white;
    scroll-behavior: smooth;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    background: rgba(15, 23, 42, 0.8);
    backdrop-filter: blur(10px);
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

.logo span {
    color: #38bdf8;
}

/* HERO */
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    margin: auto;
    text-align: center;
}

.hero h1 span {
    color: #38bdf8;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

/* SECTIONS */
.section {
    padding: 100px 50px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.card {
    background: rgba(30, 41, 59, 0.6);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    width: 250px;
    transition: 0.3s;
    border: 1px solid rgba(255,255,255,0.1);
}

.card:hover {
    transform: translateY(-10px);
}

/* SKILLS */
.skills span {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: #1e293b;
    border-radius: 20px;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    background: #020617;
}

/* ANIMATIONS */
.fade-in {
    opacity: 0;
    animation: fade 1s forwards;
}

.delay {
    animation-delay: 0.5s;
}

.delay2 {
    animation-delay: 1s;
}

@keyframes fade {
    to {
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}
.socials {
    margin-top: 20px;
}

.socials a {
    margin: 10px;
    text-decoration: none;
    color: #38bdf8;
    font-weight: bold;
    transition: 0.3s;
}

.socials a:hover {
    color: white;
}
